.hero-main-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 83.33%;
}
.hero-main-head {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    opacity: 0;
}
.video-container {
    pointer-events: none;
}
.video {
    width: 75%;
    transform: translateX(15%);
}
#cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    opacity: 0;
    transform: translateY(5rem);
    overflow: hidden;
}
.bl-c {
    width: 3.5rem;
    height: 2.5rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    background: #006EDB;
    border-radius: 1.5rem;
}
.buy-link {
    text-decoration: none;
    color: aliceblue;
}