.vc-main-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.vc-main-c::-webkit-scrollbar {
  display: none;
}
.video-carousal-slide {
  width: 80vw;
  height: 35vh;
  flex-shrink: 0;
}
.video-c {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    width: 100%;
    height: 20rem;
    border-radius: 1.5rem;
    overflow: hidden;
    background: #000;
}
.video-i {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
